<div class="container">
    <h2>{{ 'ORDER_ADMIN.ORDERS_MANAGEMENT' | translate }}</h2>
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="Orders" class="mat-elevation-z8">
                <ng-container matColumnDef="trackingId">
                    <th mat-header-cell *matHeaderCellDef>{{ 'ORDER_ADMIN.TRACKING_ID' | translate }}</th>
                    <td mat-cell *matCellDef="let order">{{ order.trackingId }}</td>
                </ng-container>

                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef>{{ 'ORDER_ADMIN.USER_NAME' | translate }}</th>
                    <td mat-cell *matCellDef="let order">{{ order.userName }}</td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>{{ 'ORDER_ADMIN.AMOUNT' | translate }}</th>
                    <td mat-cell *matCellDef="let order" class="bold-cell">{{ order.amount }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>{{ 'ORDER_ADMIN.DESCRIPTION' | translate }}</th>
                    <td mat-cell *matCellDef="let order">{{ order.orderDescription }}</td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>{{ 'ORDER_ADMIN.ADDRESS' | translate }}</th>
                    <td mat-cell *matCellDef="let order">{{ order.address }}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>{{ 'ORDER_ADMIN.DATE' | translate }}</th>
                    <td mat-cell *matCellDef="let order">{{ order.date | date: 'dd/MM/yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>{{ 'ORDER_ADMIN.STATUS' | translate }}</th>
                    <td mat-cell *matCellDef="let order">{{ order.status }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>{{ 'ORDER_ADMIN.ACTION' | translate }}</th>
                    <td mat-cell *matCellDef="let order">
                        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">{{ 'ORDER_ADMIN.ACTION' | translate }}</button>
                        <mat-menu #menu="matMenu">
                            <span>
                                <span>
                                    <button mat-menu-item (click)="changeOrderStatus(order.id,'Shipped')">{{ 'ORDER_ADMIN.SHIPPED' | translate }}</button>
                                </span>
                                <span>
                                    <button mat-menu-item (click)="changeOrderStatus(order.id,'Delivered')">{{ 'ORDER_ADMIN.DELIVERED' | translate }}</button>
                                </span>
                            </span>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['trackingId', 'userName', 'amount', 'description', 'address', 'date', 'status', 'action']">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['trackingId', 'userName', 'amount', 'description', 'address', 'date', 'status', 'action']">
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
