<div *ngIf="orderedProductDetailsList.length > 0"> 
    <div class="ordered-product-container">
        <div class="ordered-product" *ngFor="let product of orderedProductDetailsList">
            <div class="product-info">
                <div class="product-image">
                    <img [src]="product.processedImg" alt="product-image" />
                </div>
                <div class="product-details">
                    <div class="item-row">
                        <div class="item-name">
                            {{ product.name }}
                        </div>
                        <div class="item-price">
                            {{ 'ORDERED_PRODUCT_SECTION.PRICE_LABEL' | translate }}: {{ product.productPrice | currency }}
                        </div>
                        <div class="item-quantity">
                            {{ 'ORDERED_PRODUCT_SECTION.QUANTITY_LABEL' | translate }}: {{ product.quantity }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="action-buttons">
                <button mat-raised-button color="primary" routerLink="/customer/review/{{product.id}}">
                    {{ 'ORDERED_PRODUCT_SECTION.GIVE_REVIEW_BUTTON' | translate }}
                </button>
            </div>
        </div>
        <div class="total-price">
            {{ 'ORDERED_PRODUCT_SECTION.TOTAL_LABEL' | translate }}: {{ totalAmount | currency }}
        </div>
    </div>
</div>
