<div class="container">
    <mat-card>
        <mat-card-title>{{ 'PLACE_ORDER.TITLE' | translate }}</mat-card-title>
        <mat-card-content>
            <form [formGroup]="orderForm">

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'PLACE_ORDER.ADDRESS' | translate }}</mat-label>
                    <input matInput formControlName="address" placeholder="{{ 'PLACE_ORDER.ADDRESS' | translate }}" required>
                    <mat-error *ngIf="orderForm.get('address').invalid && orderForm.get('address').touched">
                        {{ 'PLACE_ORDER.REQUIRED_INPUT' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'PLACE_ORDER.DESCRIPTION' | translate }}</mat-label>
                    <input matInput formControlName="orderDescription" placeholder="{{ 'PLACE_ORDER.DESCRIPTION' | translate }}">
                </mat-form-field>

                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="orderForm.invalid"
                        (click)="placeOrder()" class="order-button">{{ 'PLACE_ORDER.ORDER_BUTTON' | translate }}</button>
                    <button mat-stroked-button color="warn" class="close-button" (click)="closeForm()">
                        {{ 'PLACE_ORDER.CLOSE_BUTTON' | translate }}
                    </button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>
