<form [formGroup]="searchOrderForm" class="search-form" (submit)="submitForm()">
    <mat-form-field appearance="outline" class="search-input">
        <mat-label>{{ 'TRACK_ORDER.LABEL' | translate }}</mat-label>
        <input matInput formControlName="trackingId">
        <button mat-button matSuffix color="primary" [disabled]="searchOrderForm.invalid" [attr.aria-label]=" 'TRACK_ORDER.BUTTON' | translate ">
            <mat-icon>search</mat-icon>
        </button>
        <mat-error *ngIf="searchOrderForm.get('trackingId').invalid">
            {{ 'TRACK_ORDER.ERROR' | translate }}
        </mat-error>
    </mat-form-field>
</form>

<div class="order-details-container" *ngIf="order">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'ORDER_DETAILS.TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="order-detail">
                {{ 'ORDER_DETAILS.TRACKING_ID' | translate }}:
                <strong>{{ order.trackingId }}</strong>
            </div>
            <div class="order-detail">
                {{ 'ORDER_DETAILS.USER_NAME' | translate }}:
                <strong>{{ order.userName }}</strong>
            </div>
            <div class="order-detail">
                {{ 'ORDER_DETAILS.ADDRESS' | translate }}:
                <strong>{{ order.address }}</strong>
            </div>
            <div class="order-detail">
                {{ 'ORDER_DETAILS.AMOUNT' | translate }}:
                <strong>{{ order.amount | currency }}</strong>
            </div>
            <div class="order-detail">
                {{ 'ORDER_DETAILS.STATUS' | translate }}:
                <strong>{{ order.status }}</strong>
            </div>
            <div class="order-detail">
                {{ 'ORDER_DETAILS.DATE' | translate }}:
                <strong>{{ order.date | date }}</strong>
            </div>
        </mat-card-content>
    </mat-card>
</div>

