<div class="container">
    <h2>{{ 'ADD_CATEGORY.TITLE' | translate }}</h2>
    <mat-spinner *ngIf="isSpinning"></mat-spinner>
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" [class.spinner-active]="isSpinning">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'ADD_CATEGORY.NAME_LABEL' | translate }}</mat-label>
            <input matInput type="text" placeholder="{{ 'ADD_CATEGORY.NAME_PLACEHOLDER' | translate }}" formControlName="name" />
            <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">{{ 'ADD_CATEGORY.REQUIRED_ERROR' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ 'ADD_CATEGORY.DESCRIPTION_LABEL' | translate }}</mat-label>
            <textarea matInput placeholder="{{ 'ADD_CATEGORY.DESCRIPTION_PLACEHOLDER' | translate }}" formControlName="description"></textarea>
            <mat-error *ngIf="categoryForm.get('description')?.hasError('required')">{{ 'ADD_CATEGORY.REQUIRED_ERROR' | translate }}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">{{ 'ADD_CATEGORY.ADD_BUTTON' | translate }}</button>
    </form>
</div>
