<!-- Product Section --> 
<div class="center-container" *ngIf="product">
    <div class="product-card">
        <div class="product-image-container">
            <img [src]="product.processedImg" 
                 (click)="openImageDialog(product.processedImg)"
                 alt="{{ product.name }} Image"
                 class="product-image">
        </div>
        <div class="product-details">
            <h2>{{ product.name }}</h2>
            <p class="description">{{ product.description }}</p>
            <p class="price">{{ 'PRODUCT_SECTION.PRICE_LABEL' | translate }}: ${{ product.price }}</p>
            <p class="category">{{ 'PRODUCT_SECTION.CATEGORY_LABEL' | translate }}: {{ product.categoryName }}
                <mat-icon (click)="addToWishlist()" 
                    class="heart-icon"
                    [ngClass]="{'is-in-wishlist': isInWishlist}">
                    {{ isInWishlist ? 'favorite' : 'favorite_border' }}
                </mat-icon>
            </p>
        </div>
    </div>
</div>

<!-- Reviews Section -->
<h1 class="section-heading" *ngIf="reviews.length > 0">{{ 'PRODUCT_SECTION.REVIEWS_SECTION_TITLE' | translate }}</h1>
<div *ngIf="reviews" class="review-list">
    <div class="center-container">
        <div *ngFor="let review of reviews" class="review-card">
            <div class="review-image-container" *ngIf="review.processedImg">
                <img [src]="review.processedImg" 
                     (click)="openImageDialog(review.processedImg)"
                     alt="{{ review.description }} Image" 
                     class="review-image">
            </div>
            <div class="review-details">
                <h2>{{ review.description }}</h2>
                <div class="details-row">
                    <p class="rating">{{ 'PRODUCT_SECTION.RATING_LABEL' | translate }}: {{ review.rating }}</p>
                    <p class="username">{{ 'PRODUCT_SECTION.USERNAME_LABEL' | translate }}: {{ review.username }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQs Section -->
<h1 class="section-heading" *ngIf="FAQS.length > 0">{{ 'PRODUCT_SECTION.FAQS_SECTION_TITLE' | translate }}</h1>
<div *ngIf="FAQS" class="faq-list">
    <div class="center-container">
        <div *ngFor="let faq of FAQS" class="faq-card">
            <div class="faq-details">
                <p class="question">{{ 'PRODUCT_SECTION.QUESTION_LABEL' | translate }}</p>
                <p class="question-text">{{ faq.question }}</p>
                <p class="answer">{{ 'PRODUCT_SECTION.ANSWER_LABEL' | translate }}</p>
                <p class="answer-text">{{ faq.answer }}</p>
            </div>
        </div>
    </div>
</div>
